<div class="analytics">
    <div class="analyticsCard">
        <i class="fa fa-users"></i>
        <div>
            <p>Entrepreneurs in Training</p>
           <h2>51</h2>  
        </div>
           
    </div>

    <div class="analyticsCard">
        <i class="fa fa-calendar"></i>
        <div>
            <p>Attendance</p>
            <h2>92%</h2> 
        </div>
           
    </div>

    <div class="analyticsCard">
        <i class="fa fa-calendar-o"></i>
        <div>
            <p>No. of Requests</p>
            <h2>30</h2>  
        </div>
         
    </div>

</div>

<div class="sectionChart">
    <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart>

</div>

<div class="sectionTable">
    <table class="table">
        <tr>
          <th>#</th>
          <th>Employee</th>
          <th>Role</th>
          <th>ID</th>
          <th>Type</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Elizabeth Lizz</td>
            <td>Developer</td>
            <td>031</td>
            <td>Full Time</td>
            <td>Active</td>
            <td>Edit</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Alice Verdini</td>
            <td>Business</td>
            <td>032</td>
            <td>Part Time</td>
            <td>Inactive</td>
            <td>Edit</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Daniel KAlumba</td>
            <td>Designer</td>
            <td>033</td>
            <td>Full Time</td>
            <td>Inactive</td>
            <td>Edit</td>
          </tr>
       </table>     

</div>




